.flexBox {
  display: flex;
  list-style: none;
  padding: 0;
}

.spaceBetween {
  justify-content: space-between;
}

.topNavAnchor {
  color: black;
  text-decoration: none;
  padding: 0 4px;
}

.navAnchor {
  color: black;
  padding: 0 24px;
}

.leftBar {
  margin-left: 4px;
  border-left: 1px solid black;
}

.desktopHeaderTag {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  padding-bottom: 4px;
}

.desktopHeaderTag:hover {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 4px solid yellow;
}

.headerKukkaIcon {
  width: 127px;
  height: 51px;
}

.headerNavIcon {
  width: 32px;
  height: 35px;
}

.mobileHeader {
  display: flex;
  justify-content: space-around;
  height: 44px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobileHeaderTag {
  text-align: center;
  font-size: 15px;
  color: #787878;
  padding: 0;
}

.desktopTopNav {
  position: absolute;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.desktopBottomNavWrapper {
  position: sticky;
  padding-top: 48px;
  top: -48px;
  padding-bottom: 36px;
  width: 100%;
}

.desktopBottomNav {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
}

.bottomYellowLine {
  width: 100%;
  height: 0;
  border-bottom: 1px solid yellow;
}

.flexEnd {
  justify-content: flex-end;
}

.mobileBottomNav {
  position: sticky;
  padding-top: 48px;
  top: -48px;
  border-bottom: 1px solid yellow;
}

.mobileTopNav {
  position: absolute;
  border-bottom: #ececec 1px solid;
  margin: 0;
  width: 100%;
  max-width: 1120px;
  z-index: 10;
}

.gnbATag {
  text-decoration: none !important;
  cursor: pointer;
  color: black !important;
}
